/* variables */
@import 'vars';

/* Susy */
$susy: (
  columns: 12,
  gutters: 1/3,
  container: 1280px
);

$breakpoints: (
  small: '0px',
  medium: '500px',
  large: '1200px',
  extralarge: '1400px'
);

/* vendor files */
@import '../../bower_components/normalize.scss/normalize';
@import '../../bower_components/susy/sass/susy';
@import 'vendor/bootstrap';

/* site files */
@import 'mixins';
@import 'grids';
// @import 'layout';

$green: rgba(0,136,102, 1) !default;
$green-gray: rgba(0,238,204, 1) !default;

$blue: rgba(7, 107, 149, 1);
$gray: rgba(8, 154, 159, 1);
$green: rgba(0,136,102, 1);
$lightgreen: rgba(8, 159, 78, 1);
$brightgreen: rgba(7, 149, 33, 1);
$darkgreen: rgba(0, 59, 45, 1);
$tan: rgba(21, 212, 165, 1);

* {
  @include global-box-sizing(border-box);
}

body {
  @include establish-baseline($base-font-size);
}

h1 {
  font-family: $headline-font;
  font-weight: 300;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font;
  font-style: italic;
  font-weight: 600;
}

p {
  margin: 1rem 0;
}

img {
  display: block;
}

.outer-container {
  padding-top: 68px;
}

.inner-container {
  @extend .container;
}

.first { @include first; }
.last { @include last; }

.lg-col-1 {
  @include span(1 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-2 {
  @include span(2 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-3 {
  @include span(3 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-4 {
  @include span(4 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-5 {
  @include span(5 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-6 {
  @include span(6 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-7 {
  @include span(7 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-8 {
  @include span(8 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-9 {
  @include span(9 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-10 {
  @include span(10 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-11 {
  @include span(11 of 12);

  &.first {
    @include first;
  }

  &.last {
    @include last;
  }
}
.lg-col-12 {
  @include first;
  @include last;
  @include span(12 of 12);
}


.background {
  background-color: $darkgrey;
  @include position(fixed);
  z-index: -1;

  &:before {
    background: url(/img/mallorca-farm-house-large-1x.jpg) no-repeat center;
    background-size: cover;
    content: "";
    @include position(fixed);
  }

  &:after {
    background-color: black;
    content: "";
    opacity: .70;
    @include position(fixed);
  }
}

.header-bar {
  background-color: $green;
  color: $green-gray;
  padding: 0 gutter();
  z-index: 1000;
  @include position(fixed, 0, 0, auto, 0);

  @include when-breakpoint("medium") {
    padding-left: (gutter() * 2);
    padding-right: (gutter() * 2);
  }

  header {
    display: inline-block;
    margin: 10px 0;
  }

  h1 {
    display: inline-block;
    margin: 0;

    .subtitle {
      display: none;
      font-style: italic;
      @include adjust-font-size-to(1.2 * $base-font-size);
      white-space: nowrap;

      @media (min-width: 700px) {
        display: inline-block;
      }
    }
  }

  nav {
    display: none;
    font-family: $nav-font;
    @include adjust-font-size-to(1.2 * $base-font-size);
    font-weight: 600;
    text-align: right;
    text-transform: lowercase;

    @include when-breakpoint("large") {
      display: inline-block;
      float: right;
      height: 100%;
    }

    ul {
      display: inline-block;
      margin: 0;
      padding-left: 0
    }
    li {
      @include when-breakpoint("large") {
        display: inline-block;
      }
    }

    a {
      color: $green-gray;
      text-decoration: none;

      &:hover {
        background-color: $green-gray;
        color: $green;
      }


      @include when-breakpoint("large") {
        display: inline-block;
        padding: 29px 15px 16px;
        white-space: nowrap;
      }
    }
  }

  $hamburger-size: 40px;
  $patty-size: 4px;
  $patty-distance: 8px;

  @mixin hamburger-layer {
    background-color: $green-gray;
    display: block;
    height: $patty-size;
    width: 100%;
  }

  .hamburger {
    display: inline-block;
    float: right;
    height: $hamburger-size;
    margin-bottom: -$patty-size;
    position: relative;
    top: (10px + $patty-size);
    width: $hamburger-size;

    @include when-breakpoint("large") {
      display: none;
    }

    .patty {
      @include hamburger-layer();
      transform: translateY((($hamburger-size/2) - ($patty-size/2)));
      transition: background-color 500ms;

      &:before, &:after {
        @include hamburger-layer();
        content: "";
        transform-origin: 50% 0;
        transition: all 500ms;
      }

      &:before {
        transform: translate3d(0, -($patty-distance + $patty-size), 0);
      }

      &:after {
        transform: translate3d(0, $patty-distance, 0);
      }

      .open & {
        background-color: transparent;

        &:before {
          transform: rotate(45deg) translate3d(0, 0, 0);
        }

        &:after {
          transform: rotate(-45deg) translate3d(0, -$patty-size, 0);
        }
      }
    }

    &:hover {

      .patty {

        &:before, &:after {
          transform: translate3d(0, -($patty-distance + ($patty-size * 2)), 0);
        }

        &:after {
          transform: translate3d(0, ($patty-distance + $patty-size), 0);
        }
      }
    }
  }
}

$block-top-bottom-padding: 2rem;

.block {
  @extend .row;
  padding: $block-top-bottom-padding (gutter() * 2);
  position: relative;
  overflow: hidden;

  &:nth-child(2n+1) {
    background-color: $tan;
    color: $darkgreen;

    &:after {
      box-shadow: inset 0px -4px 10px -4px adjust-lightness($tan, -30%);
    }
  }

  &:nth-child(2n+2) {
    background-color: $gray;
    color: #eee;

    &:after {
      box-shadow: inset 0px -4px 10px -4px adjust-lightness($gray, -30%);;
    }
  }

  &:after {
    bottom: 0;
    content: "";
    height: 10px;
    left: -5%;
    overflow: hidden;
    position: absolute;
    right: -5%;
  }

  :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  img[src=""] {
    background-color: lightgray;
    min-height: 100%;
    min-width: 100%;
  }

  &.summary {
    .first {
      // @include bleed-y($block-top-bottom-padding);
    }

    img {
      height: 300px;
      max-width: 100%;
      @include bleed-y($block-top-bottom-padding);
    }

    p {
      margin-top: 0;
    }
  }

  &.skills {
    h2,
    dl {
    }

    dt {
      font-weight: bold;
      text-align: right;
      @include break;
    }

    dd {
      margin-left: 0;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;

        &:after {
          content: ",";
        }

        &:last-child:after {
          content: "";
        }
      }
    }

  }

  &.work {
    h2 {
      line-height: 1;
      margin-bottom: 1rem;
      margin-top: 0;
    }

    img {
      height: 300px;
      max-width: 100%;
    }

    p {
      margin-bottom: 0;
    }
  }

  &.contact {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      @extend .btn;
      @extend .btn-default;
      @extend .btn-lg;

      text-decoration: none;
      vertical-align: middle;
      white-space: nowrap;
    }

    i, span {
      display: inline-block;
      vertical-align: middle;
    }

    i {
      img {
        display: inline-block;
        max-height: 1.5em;

        &:after {
          content: " ";
        }
      }
    }

    legend {
      color: inherit;
    }
  }

}

