/* variables */
@import 'vars';
$navy: #000033;
$azure: #838b8b;
$cadetblue: #53868b;
$darkslategray: #2f4f4f;
$midgray: #595959;
$darkolivegreen: #556b2f;
$darkgreen: #003628;
$coolgreen: #008866;

/* Susy */
$susy: (
  columns: 12,
  gutters: 1/3,
  container: 980px
);

/* vendor files */
@import '../../bower_components/normalize.scss/normalize';
@import '../../bower_components/susy/sass/susy';
@import '../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

/* site files */
@import 'mixins';
@import 'grids';

body {
  background-color: #595959;
  color: adjust-lightness(white, -5%);;
}

.outer {
  position: relative;
}

footer {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100;
}

.slide{
  // @extend .container;
  padding: 1px;
}

.primary,
.summary {
  // @extend .row
}

article {
  transform-style: preserve-3d;
}


.slide {
  background-color: white;
  opacity: 1;
  @include position(relative);
  // transition: all 500ms;
  transform-style: preserve-3d;
  transition: cubicBezierTransition(transform-origin), cubicBezierTransition(transform), cubicBezierTransition(visibility), cubicBezierTransition(opacity);

  &.previous {
    opacity: 0.4;
    // transform: translate3d(0, -300px, 0) rotateX(70deg);
    // transform: matrix3d(1, 0, 0, 0, 0, 0.342020143325669, 0.939692620785908, 0, 0, -0.939692620785908, 0.342020143325669, 0, 0, -402.606056579336, -281.907795745736, 1);
    opacity: 0.4;
    transform-origin: 0% 100%;
    transform: perspective(4000px) rotateX(85deg);
  }

  &.current {
    opacity: 1;
  }

  &.next {
    opacity: 0.4;
    transform-origin: 0% 100%;
    transform: perspective(4000px) rotateX(-85deg);
    // transform: translate3d(0, 300px, 0) rotateX(-70deg);
  }

  &.intro {
    @include grad-bkgd($navy);
  }

  &.skills {
    @include grad-bkgd($darkgreen);
  }

  &.most-recent-project {
    @include grad-bkgd($darkslategray);
  }
}