/* variables */
/* Site */
/* -- Fonts */
/* -- Colors */
/* Susy */
/* Normalize */
/* vendor files */
/* normalize-scss 3.0.1+normalize.3.0.1 | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Base
   ========================================================================== */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../../../opt/chef/embedded/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 79, ../../src/sass/vendor/_normalize.scss */
html {
  font-family: "Lora", serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 91, ../../src/sass/vendor/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 104, ../../src/sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 124, ../../src/sass/vendor/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 143, ../../src/sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 153, ../../src/sass/vendor/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 162, ../../src/sass/vendor/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 174, ../../src/sass/vendor/_normalize.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 183, ../../src/sass/vendor/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 195, ../../src/sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 203, ../../src/sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 213, ../../src/sass/vendor/_normalize.scss */
blockquote {
  margin: 1.5rem 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 222, ../../src/sass/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 231, ../../src/sass/vendor/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 48px;
  font-size: 3rem;
  line-height: 72px;
  line-height: 4.5rem;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 246, ../../src/sass/vendor/_normalize.scss */
h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 48px;
  line-height: 3rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 252, ../../src/sass/vendor/_normalize.scss */
h3 {
  font-size: 19px;
  font-size: 1.17rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 258, ../../src/sass/vendor/_normalize.scss */
h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 264, ../../src/sass/vendor/_normalize.scss */
h5 {
  font-size: 13px;
  font-size: 0.83rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/* line 270, ../../src/sass/vendor/_normalize.scss */
h6 {
  font-size: 11px;
  font-size: 0.67rem;
  line-height: 24px;
  line-height: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 282, ../../src/sass/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 293, ../../src/sass/vendor/_normalize.scss */
p,
pre {
  margin: 1.5rem 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 303, ../../src/sass/vendor/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 311, ../../src/sass/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 319, ../../src/sass/vendor/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 323, ../../src/sass/vendor/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 335, ../../src/sass/vendor/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5rem 0;
}

/* line 345, ../../src/sass/vendor/_normalize.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/* line 352, ../../src/sass/vendor/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 360, ../../src/sass/vendor/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 372, ../../src/sass/vendor/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 387, ../../src/sass/vendor/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 400, ../../src/sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 412, ../../src/sass/vendor/_normalize.scss */
figure {
  margin: 1.5rem 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 421, ../../src/sass/vendor/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 430, ../../src/sass/vendor/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 438, ../../src/sass/vendor/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 462, ../../src/sass/vendor/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 476, ../../src/sass/vendor/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: "Lora", serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 494, ../../src/sass/vendor/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 505, ../../src/sass/vendor/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 520, ../../src/sass/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 535, ../../src/sass/vendor/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 544, ../../src/sass/vendor/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 555, ../../src/sass/vendor/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 570, ../../src/sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 587, ../../src/sass/vendor/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 598, ../../src/sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 608, ../../src/sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 618, ../../src/sass/vendor/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 1px;
  border-top-width: 0.0625rem;
  border-top-style: solid;
  padding-top: 7px;
  padding-top: 0.4625rem;
  border-bottom-width: 1px;
  border-bottom-width: 0.0625rem;
  border-bottom-style: solid;
  padding-bottom: 15px;
  padding-bottom: 0.9125rem;
  border-left-width: 1px;
  border-left-width: 0.0625rem;
  border-left-style: solid;
  padding-left: 14px;
  padding-left: 0.875rem;
  border-right-width: 1px;
  border-right-width: 0.0625rem;
  border-right-style: solid;
  padding-right: 14px;
  padding-right: 0.875rem;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 634, ../../src/sass/vendor/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 648, ../../src/sass/vendor/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 657, ../../src/sass/vendor/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 668, ../../src/sass/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 673, ../../src/sass/vendor/_normalize.scss */
td,
th {
  padding: 0;
}

/* site files */
/* line 1, ../../src/sass/_global.scss */
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

/* line 6, ../../src/sass/_global.scss */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: 600;
}

/* line 16, ../../src/sass/_global.scss */
.block, main .summary, main > article .skills,
main .skills,
main .most-recent-project,
main .links {
  border: 15px #e6e6e6 solid;
  margin-top: 50px;
  padding: 15px;
  position: relative;
}
/* line 22, ../../src/sass/_global.scss */
.block > *, main .summary > *, main > article .skills > *,
main .skills > *,
main .most-recent-project > *,
main .links > * {
  position: relative;
  z-index: 3;
}
/* line 27, ../../src/sass/_global.scss */
.block:after, main .summary:after,
main .skills:after,
main .most-recent-project:after,
main .links:after {
  background: #e6e6e6;
  border: 1px #262626 dashed;
  content: "";
  bottom: -5px;
  left: -5px;
  position: absolute;
  right: -5px;
  top: -5px;
}
/* line 34, ../../src/sass/_global.scss */
.block > :first-child, main .summary > :first-child,
main .skills > :first-child,
main .most-recent-project > :first-child,
main .links > :first-child {
  margin-top: 0px;
}
/* line 38, ../../src/sass/_global.scss */
.block > :last-child, main .summary > :last-child,
main .skills > :last-child,
main .most-recent-project > :last-child,
main .links > :last-child {
  margin-bottom: 0px;
}

/* line 43, ../../src/sass/_global.scss */
.button {
  background: linear-gradient(180deg, #d9d9d9, #bfbfbf);
  border: 1px #262626 solid;
  border-radius: 3px;
  color: #262626;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  padding: 13% 10%;
  text-decoration: none;
}
/* line 54, ../../src/sass/_global.scss */
.button span, .button i {
  display: inline-block;
  line-height: 1rem;
  max-width: 70%;
  vertical-align: middle;
}
/* line 61, ../../src/sass/_global.scss */
.button i {
  margin-right: 10%;
  max-width: 20%;
}
/* line 66, ../../src/sass/_global.scss */
.button i img {
  display: block;
  max-width: 100%;
}

/* line 1, ../../src/sass/_grids.scss */
.container {
  max-width: 1280px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../bower_components/susy/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 5, ../../src/sass/_grids.scss */
.row, main > article,
main > aside, footer ul {
  clear: both;
}

/* line 9, ../../src/sass/_grids.scss */
.first {
  margin-left: 0;
}

/* line 13, ../../src/sass/_grids.scss */
.last {
  float: right;
  margin-right: 0;
}

/* line 1, ../../src/sass/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../src/sass/_layout.scss */
body {
  background: #e6e6e6;
  color: #262626;
}
/* line 106, ../../../../../../../../opt/chef/embedded/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
body html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../../src/sass/_layout.scss */
.background {
  background-color: #262626;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: -1;
}
/* line 16, ../../src/sass/_layout.scss */
.background:before {
  background: url(/img/mallorca-farm-house-large-1x.jpg) no-repeat center;
  background-size: cover;
  content: "";
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
}
/* line 23, ../../src/sass/_layout.scss */
.background:after {
  background-color: black;
  content: "";
  opacity: .65;
  bottom: 0px;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
}

/* line 31, ../../src/sass/_layout.scss */
main,
footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 37, ../../src/sass/_layout.scss */
main > article,
main > aside {
  margin-left: 8.51064%;
  width: 82.97872%;
  float: left;
  margin-right: 2.12766%;
}
/* line 45, ../../src/sass/_layout.scss */
main > article .primary {
  width: 38.46154%;
  float: left;
  margin-right: 2.5641%;
}
/* line 49, ../../src/sass/_layout.scss */
main > article .summary, main > article .skills {
  width: 58.97436%;
  float: right;
  margin-right: 0;
}
/* line 53, ../../src/sass/_layout.scss */
main > article .skills {
  margin-left: 41.02564%;
}

/* line 68, ../../src/sass/_layout.scss */
footer ul {
  color: #e6e6e6;
  margin-left: 8.51064%;
  width: 82.97872%;
  float: left;
  margin-right: 2.12766%;
}

/* line 77, ../../src/sass/_layout.scss */
header.primary {
  color: #e6e6e6;
  margin-top: 50px;
}
/* line 81, ../../src/sass/_layout.scss */
header.primary h1 {
  margin-top: 0px;
}
/* line 85, ../../src/sass/_layout.scss */
header.primary .subtitle {
  display: block;
  font-style: italic;
  font-weight: 600;
  font-size: 19px;
  font-size: 1.2rem;
  line-height: 24px;
  line-height: 1.5rem;
}

/* line 96, ../../src/sass/_layout.scss */
.skills dt,
.skills dd,
.skills ul,
.skills li {
  display: inline;
}
/* line 103, ../../src/sass/_layout.scss */
.skills dt {
  font-weight: bold;
}
/* line 106, ../../src/sass/_layout.scss */
.skills dt:before {
  content: "";
  display: block;
  margin-top: 20px;
}
/* line 112, ../../src/sass/_layout.scss */
.skills dt:after {
  content: ":";
}
/* line 117, ../../src/sass/_layout.scss */
.skills dd, .skills ul {
  margin: 0;
  padding: 0;
}
/* line 123, ../../src/sass/_layout.scss */
.skills li:after {
  content: ",";
}
/* line 126, ../../src/sass/_layout.scss */
.skills li:last-child:after {
  content: "";
}

/* line 132, ../../src/sass/_layout.scss */
.most-recent-project {
  width: 58.97436%;
  float: right;
  margin-right: 0;
}

/* line 136, ../../src/sass/_layout.scss */
.links {
  width: 38.46154%;
  float: left;
  margin-right: 2.5641%;
}
/* line 140, ../../src/sass/_layout.scss */
.links ul {
  padding-left: 0;
  margin-top: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
/* line 146, ../../src/sass/_layout.scss */
.links li {
  list-style-type: none;
  width: 46.66667%;
  float: left;
  margin-right: 6.66667%;
}
/* line 150, ../../src/sass/_layout.scss */
.links li:first-child {
  margin-left: 0;
}
/* line 154, ../../src/sass/_layout.scss */
.links li:last-child {
  float: right;
  margin-right: 0;
}
